@import "tailwindcss";

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

@theme {
  --color-mint-500: oklch(0.72 0.11 178);
}

@layer base {
  html {
    box-sizing: border-box;
  }
}
